<!--
    /*
 * Name: Ashok Sasitharan
 * ID:100745484
 * Date: December 1 2020
 * Project: NETD3202 Lab5
 * File: ContactUs.cshtml
 * Purpose: This file contains a simple contact us page
 */
    -->
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<p>If you have any questions or concerns regarding this web application please contact Ashok Sasitharan at asasitharan28&#64gmail.com or 905-888-9955</p>
