<!--
    /*
 * Name: Ashok Sasitharan
 * ID:100745484
 * Date: December 1 2020
 * Project: NETD3202 Lab5
 * File: ContactUs.cshtml
 * Purpose: This file contains a simple contact us page
 */
    -->
@{
    ViewData["Title"] = "Contact Us";
}
<h1>Contact Us</h1>
<p>If you have any questions or concerns regarding this web application please contact Ashok Sasitharan at asasitharan28&#64gmail.com or 905-888-9955</p>
<h2>Where to find us</h2>

<form>
    <div style="width: 50"><iframe width="50%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=30%20Great%20Lakes%20Dr%20Unit%20105,%20Brampton,%20ON%20L6R%202K7+(Heart%20Hospital)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
</form>
