<!--
    /*
 * Name: Ashok Sasitharan
 * ID:100745484
 * Date: December 1 2020
 * Project: NETD3202 Lab5
 * File: Index.cshtml
 * Purpose: This file contains a simple index page that greets the user to the application
 */
    -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Heart Hospital Online Registration System</h1>
    <p>Welcome to Heart Hospital's online registration system. Here you can create, edit, and delete doctors, patients and appointments.</p>
    <p>If you experience any problems navigate to the <a href="~/Home/FAQ">FAQ</a> or <a href="~/Home/ContactUS">Contact Us</a>.</p>
</div>
