<!--
    /*
 * Name: Ashok Sasitharan
 * ID:100745484
 * Date: December 1 2020
 * Project: NETD3202 Lab5
 * File: Edit.cshtml
 * Purpose: This file contains the edit page for appointments to edit the details of an appointment
 */
    -->
@model NETD3202_ASasitharan_Lab5_Comm2.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="appointmentId" />
            <div class="form-group">
                <label asp-for="appointmentType" class="control-label"></label>
                <input asp-for="appointmentType" class="form-control" />
                <span asp-validation-for="appointmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointmentDate" class="control-label"></label>
                <input asp-for="appointmentDate" class="form-control" />
                <span asp-validation-for="appointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctorId" class="control-label"></label>
                <select asp-for="doctorId" class="form-control" asp-items="ViewBag.doctorId"></select>
                <span asp-validation-for="doctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientId" class="control-label"></label>
                <select asp-for="patientId" class="form-control" asp-items="ViewBag.patientId"></select>
                <span asp-validation-for="patientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
