@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.


</p>
<!--Check if the exists variable equals to true and give the user the link otherwise give the a generic message-->
@{
    if (@Model.TempData["exists"].ToString() == "true")
    {
    <p>
        <a id="confirm-link" href="@Model.TempData["mydata"]">Click here to confirm your account</a>
    </p>
    }
    else
    {
        <p>A reset link has been sent to your email.</p>
    }
}


