<!--
    /*
 * Name: Ashok Sasitharan
 * ID:100745484
 * Date: December 1 2020
 * Project: NETD3202 Lab5
 * File: Fail.cshtml
 * Purpose: This file contains the fail page for any doctors related validation issues
 */
    -->
@{
    ViewData["Title"] = "Fail";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Brampton Hospital - Doctor Failure</title>

</head>
<body>
    <h1>Failure to add doctor</h1>
    <p>Please try again <a href="~/Doctors/Index">Here</a></p>
    <p>Please browse our <a href="~/Home/FAQ">FAQ</a> if you are having trouble adding a doctor to the system or <a href="~/Home/ContactUs">Contact Us</a>.</p>

</body>
</html>
